/* reset */
img,
svg{
    max-width: 100%;
}

/* COMMON */
h1{
    margin-bottom: 1.5rem;
}

/* HEADER */
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
}

.header-top{
    background-color: black;
}

.header-top .sony-logo{
    width: 80px;
}
/* /HEADER */

/* MAIN */

/* JUMBO */
.jumbo{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0;
}

.jumbo1{
    background-image: url(../img/jumbo-bg.png);
    margin-top: 108px;
}

.jumbo2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.jumbo img{
    width: 250px;
}

.jumbo1 img{
    padding-top: 150px;

}

.jumbo h1{
    margin-top: 1rem;
}

/* /JUMBO */

/* NEW GAMES */
#new-games{
    background-color: #1F1F1F;
    color: white;
}
/* /NEW GAMES */

/* /MAIN */