/* reset */
img,
svg{
    max-width: 100%;
}

/* COMMON */

:root{
    --ms-primary: #2D64E6;
}

h1{
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
}

h2{
    font-size: 2.3rem;
    margin: 1.5rem 0;
}

p{
    font-size: 0.8rem;
}


.titling{
    text-align: center;
    margin-top: 4rem;
}

.uptitle{
    color:var(--ms-primary);
    font-size: 0.8rem;
    font-weight: 500;
}

.subtitle{
    opacity: 0.6;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    font-weight: 600;
}

ul{
    list-style-type: none;
    margin: 0;   
}

.ms_btn.red-btn{
    background-color: #CD3D0F;
    color: white;
}

.ms_btn.blue-btn{
    background-color: var(--ms-primary);
    color: white;
}

.ms_btn.white-btn{
    background-color: white;
    color: var(--ms-primary);
    margin-top: 0.5rem;
}

.ms_btn:not(.gray-btn):hover{
    box-shadow:0px 0px 0px 2px rgb(255, 255, 255) inset;
}

.ms_btn.white-btn:hover{
    box-shadow:0px 0px 0px 2px #888888 inset;

}

.ms_btn.gray-btn{
    background-color: #363636;
    color: white;
}

.ms_btn{
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 50px;
    border: 5px solid rgba(255, 255, 255, 0);  
}

.ms_disable{
    opacity: 0.6;
}

/* HEADER */
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
}

.header-top{
    background-color: black;
}

nav .dropdown-toggle::after{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f078";
    border: 0;
    vertical-align: middle;
}

.header-top .sony-logo{
    width: 80px;
}

/* media */
@media screen and (min-width: 992px){
    .text-wrapper{
        width: 37%;
    }
    
}
/* /HEADER */

/* MAIN */

/* JUMBO */
.jumbo{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0;
}

.jumbo p{
    margin-bottom: 2rem;
}

.jumbo1{
    background-image: url(../img/jumbo-bg.png);
    margin-top: 108px;
}

.jumbo2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.jumbo img{
    width: 250px;
}

.jumbo1 img{
    padding-top: 200px;
    
}

.jumbo h1{
    margin-top: 1rem;
}
/* /JUMBO */


.ms_card-active{
    border: 2px solid white;
    box-shadow: 0px 0px 1px 4px #2D64E6;
    height: 100%;
}

.carousel{
    margin-top: 2rem;
}

.carousel .ms_card{
    position: relative;
}

@media screen and (min-width: 768px) {
        

    .carousel:hover .ms_card{
        opacity: 0.6;
    }

    .carousel .ms_card:hover{
        opacity: 1;
    }

    .carousel .ms_card:hover img{
        position: absolute;
        top: -1rem;
        left: 0;
    }

    .carousel .ms_card-active:hover {
        box-shadow: none;
    }

}

/* NEW GAMES */
#new-games{
    background-color: #1F1F1F;
    color: white;
    padding: 2rem 0;
}

#new-games h2{
    margin-top: 0;
}
/* /NEW GAMES */

/* PS5 */
.ps5-products{
    margin-bottom: 2rem;
}


.ms_prod-card .product-name{
    font-size: 0.6rem;
    padding-top: 0.5rem;
    text-align: center;
}

.prod-col.ms_active{
    border-bottom: 2px solid #2D64E6;
}

.ms_prod-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.5rem;
    opacity: 0.6;
}
/* -------------------------- */

.ms_prod-card.ms_active{
    opacity: 1;
}

.products:hover .ms_prod-card.ms_active{
    opacity: 0.6;
}

.ms_prod-card:hover{
    opacity: 1;
}

.products .ms_prod-card.ms_active:hover {
    opacity: 1;
}


@media screen and (min-width: 768px){
    .ms_prod-card img{
        max-width: 50%;
    }
}
/* /PS5 */

/* PS4 */
#ps4 .card{
    border: 0;
}

#ps4 .card p{
    opacity: 0.6;
}

.ms_ps4-card,
.card-body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

/* PS4 */

/* PSPLUS */
#ps-plus{
    background-color: #BEBCBB;
    margin-top: 4rem;
}

#ps-plus .ps-plus-logo,
#ps-now .ps-now-logo{
    width: 250px;
    padding-bottom: 2rem;
}
#ps-plus img,
#ps-now img{
    max-width: 450px;
    min-width: 250px;
}

.little-jumbo-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.little-jumbo-text p{
    font-size: 1rem;
}
/* /PSPLUS */

/* PSNOW */
#ps-now{
    background-color: #161C3B;
    color: white;
    margin-top: 4rem;
    padding: 1rem 0 2rem;
}
/* PSNOW */

/* SOCIALS */
#socials .container{
    max-width: 540px;
    margin-top: 4rem;
}

#socials h2{
    text-align: center;
    margin-bottom: 5rem;
}
/* /SOCIALS */

/* /MAIN */

/* FOOTER */
footer{
    background-color: #00439C;
    padding: 4rem 0 1rem;
    margin-top: 5rem;
    color: white;
    font-size: 0.8rem;
}

footer .country{
    padding: 1.5rem 0;
}

footer .country i{
    margin-right: 0.5rem;
}

footer ul a{
    color: inherit;
    text-decoration: none;
    font-size: inherit;
    line-height: 1.5rem;
}

footer img{
    width: 100px;
}

.footer-bot img{
    width: 150px;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.footer-bot a{
    color: white;
}
/* FOOTER */